body {
    background: #f2f2f2;
    font-family: "Arial";
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(#1C2E43, #2D4B6C)
}

#credits {
    font-size: .5em;
    text-align: center;
    line-height: 1.1em;
    letter-spacing: .2em;
}
    
.row {
    width: 100%;
}

.col {
    margin-bottom: 30px;
    min-width: 400px;
}

.first {
    margin-bottom: 10px;
    margin-top: 20px;
}


.item {
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    border: 1px solid #dadada;
    background-color: white;
    color: #1c2f43;
    margin-bottom: 20px;
}

.text {
    margin-top: 20px;
    padding-right: 30px;
    text-align: justify;
    text-justify: inter-word;
}

img {
    width: 100%;
}

.mono {
    font-family: Monospace;
}
 
h1 {
    color: #bbd6eb;
    text-align: center;
    padding: 20px;
}


.title {
    overflow: hidden;
    width: 100%;
    font-style: italic;
    font-weight: 600;
    padding: 10px;
    background: #bbd6eb;
    margin-bottom: 0;
}

.title h5 {
    letter-spacing: 0.06em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1200px) {
  h3 {
     font-size: 32px;
  }
}

@media screen and (max-width: 900px) {
  h3 {
     font-size: 22px;
  }
}

a {
    color: #60afec;
}

a:visited {
    color: #60afec;
}

a:hover {
    color: #ffd01b;
    text-decoration: none;
}

.title a:active {
    color: #bbd6eb;
}

.title a {
    color: #2c4b6b;
}

.title a:visited {
    color: #2c4b6b;
}

.title a:hover {
    color: #f2f2f2;
    text-decoration: none;
}

.h3 a:active {
    color: #2c4b6b;
}

pre {
    margin-bottom: 1px;
    maring-top: 1px;
}
